
body {
    background-color:tan;
            text-align: center;
            margin: 50px;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        label {
            display: block;
            margin-bottom: 10px;
        }

        input {
            margin-bottom: 15px;
            padding: 10px;
            border-radius: 5px;
        }

        button {
            margin-top: 10px;
            background-color: steelblue;
            padding: 10px 40px 10px;
            border-radius: 5px;
            color:white;
        }
        #resultRupees{
          font-weight: bold;
          color: green;
        }